<mat-toolbar color="#316262">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>

        <span> Skilancer Pvt Ltd. </span>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
                    <button mat-button>
                        <mat-icon>logout</mat-icon>
                        Logout
                    </button>    
                    <button mat-button>
                        <mat-icon>person_outline</mat-icon>
                        Admin
                    </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
