<div class="container-fluid"
     fxLayout="row"
     fxLayoutGap="10px">
     <div>
     <mat-card>
        <mat-card-header>
          <mat-card-title>Solar Cleaners Status</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <canvas baseChart  
                         [data]="doughnutChartData"
                        [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType"
                        [colors]="doughnutColor"
                        [options]="doughnutOption">
                        <!-- [plugins]="doughnutChartPlugins"> -->
            </canvas> 
          
        </mat-card-content>
      </mat-card>
    </div>
    <div>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Solar Cleaners Voltages</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <!-- <canvas id="canvas" >{{chart}}</canvas> -->
          <canvas baseChart
                        [data]="doughnutChartData_second"
                        [labels]="doughnutChartLabels_second"
                        [chartType]="doughnutChartType_second"
                        [colors]="doughnutColor_second"
                        [options]="doughnutOption_second">
                        <!-- [plugins]="doughnutChartPlugins_second"> -->
           </canvas>
        </mat-card-content>
      </mat-card>
    </div>
    
    <div>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Solar Cleaners Temperatures</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <canvas baseChart
            [data]="doughnutChartData_third"
            [labels]="doughnutChartLabels_third"
            [chartType]="doughnutChartType_third"
            [colors]="doughnutColor_third"
            [options]="doughnutOption_third">
            <!-- [plugins]="doughnutChartPlugins_second"> -->
            </canvas> 
        </mat-card-content>
      </mat-card>
    </div>
    
    <div>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Alert</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div fxFlex>
               Temperatures
               Voltages
          </div>    
        </mat-card-content>
      </mat-card>
  </div>    
</div>
<div class="container-fluid" 
     fxLayout="row"
     fxLayoutGap=10px>

<!-- <div>
  <mat-list *ngFor="let element of devices">
    <mat-list-item> {{element.status}} </mat-list-item>
    <mat-list-item> {{element.name}} </mat-list-item>
    <mat-list-item> {{element.modelNo}} </mat-list-item>
    <mat-list-item> {{element.location}} </mat-list-item>
    <mat-list-item> {{element.runTime}} </mat-list-item>
    <mat-list-item> {{element.temperature}} </mat-list-item>
    <mat-list-item> {{element.humidity}} </mat-list-item>
    <mat-list-item> {{element.solarVoltage}} </mat-list-item>
    <mat-list-item> {{element.batteryVoltage}} </mat-list-item>
 </mat-list> 
</div>    -->

<!-- <table class="table table-bordered" style="width:100%">
  <thead>
    <tr>
      <th>Status</th>
      <th>Model No</th>
      <th>Name</th>
      <th>Temperature</th>
      <th>Humidity</th>
      <th>Voltage</th>
      <th>BatteryVoltage</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let device of devices">
        <td>{{device.status}}</td>
        <td>{{device.modelNo}}</td>
        <td>{{device.name}}</td> 
        <td>{{device.temperature}}</td>
        <td>{{device.humidity}}</td>
        <td>{{device.solarVoltage}}</td> 
        <td>{{device.batteryVoltage}}</td> 
      </tr>
    </tbody>
</table>  -->

<table mat-table [dataSource]="dataSource" class="table table-bordered" style="width:100%">

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>


  <ng-container matColumnDef="modelNo">
    <th mat-header-cell *matHeaderCellDef> ModelNo </th>
    <td mat-cell *matCellDef="let element"> {{element.modelNo}} </td>
  </ng-container>

 
  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef> Location </th>
    <td mat-cell *matCellDef="let element"> {{element.location}} </td>
  </ng-container>

  <ng-container matColumnDef="temperature">
    <th mat-header-cell *matHeaderCellDef> Temperature </th>
    <td mat-cell *matCellDef="let element"> {{element.temperature}} </td>
  </ng-container>

  <ng-container matColumnDef="voltage">
    <th mat-header-cell *matHeaderCellDef> Voltage </th>
    <td mat-cell *matCellDef="let element"> {{element.voltage}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row   *matRowDef="let row; columns: displayedColumns;" 
  (click)="highlightSelectedRow(row)" [ngClass]="{ 'bg-clr': row === selectedRow }"></tr>
</table>
 
</div>



